@media screen and (max-width:800px){
    body{
        background-color:red ;
    }
    nav{
        flex-direction: column;
    }
    .logo{
        justify-content: center;
        margin: 12px 0;
    }
    nav ul{
        height: 35px;
        justify-content: center;
    }
    header{
        height: 150px;
    }
    .search{
        justify-content: center;
        margin: 20px 0;
    }
    .search input{
        margin: 0px 7px 0px 0px;
    }
    .slider img{
        height: 80vh;
    }
}